<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diy.mapper.OrderDetailMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        insert into order_item(order_id, product_id, title, price, quantity, product_image)
        values
        <foreach collection="orderItemList" item="item" separator=",">
            (#{item.orderId}, #{item.productId}, #{item.title}, #{item.price}, #{item.quantity}, #{item.productImage})
        </foreach>
    </insert>
</mapper>
