<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diy.mapper.ShoppingCartMapper">
    <select id="list" resultType="com.diy.entity.CartItem">
        select * from cart_item
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="productId != null">
                and product_id = #{productId}
            </if>
        </where>
    </select>
    
    <select id="listWithProductInfo" resultType="map">
        SELECT 
            ci.product_id as productId,
            p.title as title,
            p.price as price,
            ci.quantity as quantity,
            p.cover_image as coverImage
        FROM cart_item ci
        LEFT JOIN product p ON ci.product_id = p.id
        WHERE ci.user_id = #{userId}
        ORDER BY ci.create_time DESC
    </select>
</mapper>
